/*@import './base.css';*/

body {
  display: flex;
  place-items: center;
}

.header {
  background-color: #f5f5f5;
  text-align: center;
  font-size: 30px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, mimax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.pokemon-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  border-style: solid;
  text-transform: capitalize;
}

.titlePokemon {
  font-size: 30px;
}

.addPokemon {
  width: 60%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: hidden;
  background-color: #00000046;
  color: #000000;
  border-radius: 5px;
}

.addPokemon:hover {
  background-color: #485460;
  border-radius: 0%;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.verEquipo {
  text-align: center;
  font-size: 30px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
